.zoom {
  position: absolute;
  top: 0;
  left: 0px;

  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: solid red 1px;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
  }

}
